<div class="container">


    <ul>
       <li> Title: <%= @movie.title%> </li>
       <li> Rating: <%= @movie.rating%> </li>
       <li> Comments: <%= @movie.comments%> </li>
       <li> Watch Date: <%= @movie.date%> </li>
       <li> User: <%= @movie.user_id%> </li>
    </ul>

</div>