<div class="container">
       <img src="<%= @movie.poster %>%" alt="Movie Poster Image">
       <h1><%= @movie.title%> </h1>
       <hr>
       <h4> Release Date: <%= @movie.date%> </h4>
       <h4> My Rating: <%= @movie.rating%> </h4>
       <h5> Comments:</h5>
       <p> <%= @movie.comments%> </p> 
       
    
<a class="btn btn-primary" id ="view-btn" href="/movies/<%= @movie.id %>/edit" role="button">Edit Movie</a>


</div>
