<div class="container">
    
       <h1> Title: <%= @movie.title%> </h1>
       <hr>
       <h2> Rating: <%= @movie.rating%> </h2>
       <h2> Comments: <%= @movie.comments%> </h2>
       <h2> Watch Date: <%= @movie.date%> </h2>
       <h2> User: <%= @movie.user_id%> </h2>
    
<a class="btn btn-primary" id ="view-btn" href="/movies/<%= @movie.id %>/edit" role="button">Edit Movie</a>


</div>
